pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"description": "demo pipeline 1",
		"activities": [
			{
				"name": "Copy_DeltaRows",
				"description": "Copy Delta Rows",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set LastVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set CurrentVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    CT.PersonId,\n\n    CASE CT.SYS_CHANGE_OPERATION\n        WHEN 'I' THEN 'INSERT'\n        WHEN 'U' THEN 'UPDATE'\n        WHEN 'D' THEN 'DELETE'\n    END AS ChangeOperation,\n\n    CT.SYS_CHANGE_VERSION,\n\n    S.EmployerName,\n    S.PersonAddress,\n    S.Age,\n    S.rowCreatedAtTimeUtc,\n    S.rowExpiredAtTimeUtc\n\nFROM CHANGETABLE\n(\n    CHANGES SampleChangeTrackingTable,\n    @{variables('LastVersion')}\n) CT\n\nLEFT JOIN SampleChangeTrackingTable S\nON CT.PersonId = S.PersonId",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "DELETE FROM SampleChangeTrackingTable_Staging",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "PersonId",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "PersonId",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "ChangeOperation",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "ChangeOperation",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "EmployerName",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "EmployerName",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PersonAddress",
									"type": "String",
									"physicalType": "varchar"
								},
								"sink": {
									"name": "PersonAddress",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "Age",
									"type": "Int32",
									"physicalType": "int"
								},
								"sink": {
									"name": "Age",
									"type": "Int32",
									"physicalType": "int"
								}
							},
							{
								"source": {
									"name": "rowCreatedAtTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "rowCreatedAtTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "rowExpiredAtTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								},
								"sink": {
									"name": "rowExpiredAtTimeUtc",
									"type": "DateTime",
									"physicalType": "datetime2"
								}
							},
							{
								"source": {
									"name": "SYS_CHANGE_VERSION",
									"type": "Int64",
									"physicalType": "bigint"
								},
								"sink": {
									"name": "SYS_CHANGE_VERSION",
									"type": "Int64",
									"physicalType": "bigint"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_LastVersion",
				"description": "Lookup_LastVersion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LastSyncVersion\nFROM ChangeTrackingWatermark\nWHERE TableName = 'SampleChangeTrackingTable'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set LastVersion",
				"description": "Set LastVersion variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_LastVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastVersion",
					"value": {
						"value": "@activity('Lookup_LastVersion').output.firstRow.LastSyncVersion",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup_CurrentVersion",
				"description": "Lookup_CurrentVersion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() AS CurrentVersion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set CurrentVersion",
				"description": "Set CurrentVersion",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_CurrentVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentVersion",
					"value": {
						"value": "@activity('Lookup_CurrentVersion').output.firstRow.CurrentVersion",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Update Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Merge Logic",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateChangeTrackingWatermark]",
					"storedProcedureParameters": {
						"NewVersion": {
							"value": {
								"value": "@variables('CurrentVersion')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"TableName": {
							"value": "SampleChangeTrackingTable",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Merge Logic",
				"description": "StoredProcedure_Merge\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_DeltaRows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_MergeSampleChangeTracking]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LastVersion": {
				"type": "Integer"
			},
			"CurrentVersion": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-25T16:18:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}