pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"description": "demo pipeline 1",
		"activities": [
			{
				"name": "Copy_DeltaRows",
				"description": "Copy Delta Rows",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set LastVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set CurrentVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\nCT.PersonId,\n\nCASE CT.SYS_CHANGE_OPERATION\nWHEN 'I' THEN 'INSERT'\nWHEN 'U' THEN 'UPDATE'\nWHEN 'D' THEN 'DELETE'\nEND AS ChangeOperation,\n\nS.EmployerName,\nS.PersonAddress,\nS.Age,\nS.rowCreatedAtTimeUtc,\nS.rowExpiredAtTimeUtc\n\nFROM CHANGETABLE\n(\nCHANGES SampleChangeTrackingTable,\n@{variables('LastVersion')}\n) CT\n\nLEFT JOIN SampleChangeTrackingTable S\nON CT.PersonId = S.PersonId",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup_LastVersion",
				"description": "Lookup_LastVersion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT LastSyncVersion\nFROM ChangeTrackingWatermark\nWHERE TableName = 'SampleChangeTrackingTable'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set LastVersion",
				"description": "Set LastVersion variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_LastVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastVersion",
					"value": "@activity('Lookup_LastVersion').output.firstRow.LastSyncVersion"
				}
			},
			{
				"name": "Lookup_CurrentVersion",
				"description": "Lookup_CurrentVersion",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT CHANGE_TRACKING_CURRENT_VERSION() AS CurrentVersion",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set CurrentVersion",
				"description": "Set CurrentVersion",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup_CurrentVersion",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "CurrentVersion",
					"value": "@activity('Lookup_CurrentVersion').output.firstRow.CurrentVersion"
				}
			},
			{
				"name": "Update Watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Merge Logic",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_UpdateChangeTrackingWatermark]",
					"storedProcedureParameters": {
						"NewVersion": {
							"value": "@variables('CurrentVersion')",
							"type": "Int64"
						},
						"TableName": {
							"value": "SampleChangeTrackingTable",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Merge Logic",
				"description": "StoredProcedure_Merge\n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy_DeltaRows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_MergeSampleChangeTracking]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase2",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"LastVersion": {
				"type": "Integer"
			},
			"CurrentVersion": {
				"type": "Integer"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-25T16:18:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}